table{
    width: 100%;
    border:2px solid black;
}
th {
    border-top:1px solid black;
    border-right:1px solid black;
}

td{
    
    border-top:1px solid black;
    border-right:1px solid black;
}
img{
    
    height: 150px;
}
.btn1{
    color: white;
    background-color: rgb(0, 123, 255);
}

.btn2{
    color: white;
    background-color: green;
}

